<% content_for :extra_css do %>
  <%= stylesheet_link_tag "students", "data-turbo-track": "reload" %>
<% end %>

<%= render "layouts/base" do %>
  <div class="student-wrapper">
    <%= stylesheet_link_tag "students", "data-turbo-track": "reload" %>
    <%= yield %>
  </div>
<% end %>