<%# app/views/layouts/teacher.html.erb %>
<%= render "layouts/base" do %>
  <div class="teacher-wrapper">
    <%= stylesheet_link_tag "students", "data-turbo-track": "reload" %>
    <%= yield %>
  </div>
<% end %>